body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #343a40;
  margin-bottom: 1rem;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
}

footer {
  background-color: #212529;
  color: #ffffff;
  font-size: 0.9rem;
}

.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
  border: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 1.2rem;
  background-color: rgba(138, 138, 138, 0.696);
}

.alert-info {
  background-color: #d1ecf1;
  border-color: #bee5eb;
  color: #0c5460;
}
